@page "{id}"
@model GameProject.Pages.ResultsModel
@{
}
<h1>Dear @Model.GameResult.FullName !</h1>
<h1>@Model.Result</h1>
<h1>Your numbers are @Model.GameResult.Number1 and @Model.GameResult.Number2</h1>
